<header>

  <b-row id="head-line">
    <b-col><p> </p><%= image_tag('avatar.png') %></b-col>

    <b-col ><div align="center"><br><%= image_tag('logo.png') %></div></b-col>

    <b-col><div align="right"> <div align="center"><br><b-button>Button</b-button></div> </div><p> </p> </b-col>
  </b-row>


  <br>
  <br>
  <br>
  <br>
  <br>
  <div align="center"><%= image_tag('line.png') %></div>

</header>